<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

    <connectionStrings>
    <add name="log4DB_Conn" connectionString="Data Source=.;Initial Catalog=log4DB;uid=log4DB;pwd=***"/>
  </connectionStrings>
  
 
  <appSettings>
    <add key="mailTo" value="tarikkaygusuz@gmail.com" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="log4DB" />
    <add key="smtpPass" value="***" />
    <add key="mailFrom" value="log4db@gmail.com" />
  </appSettings>

</configuration>





